{{ define "main" }}
  <div class="contact-page-body">
    <div class="contact-container">
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "white" }}">
        {{ .Content }}
      </div>

      <!-- <form action="https://formspree.io/f/{your-form-id}" method="post" class="contact-form"> -->
      <form id="contactForm" class="contact-form">
        <div class="form-group">
          <label for="email">Votre Email:</label>
          <input type="email" id="email" name="email" placeholder="nom@example.com" required>
        </div>
        <div class="form-group">
          <label for="subject">Objet:</label>
          <input type="text" id="subject" name="subject" placeholder="Objet" required>
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="message" placeholder="Écrire votre message..." required></textarea>
        </div>
        <button type="submit" class="submit-button">Envoyer</button>
      </form>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          // Get the "subject" parameter from the URL
          const urlParams = new URLSearchParams(window.location.search);
          const objectParam = urlParams.get('subject');

          if (objectParam) {
            document.getElementById('subject').value = objectParam;
          }
        });

        document.getElementById('contactForm').addEventListener('submit', function(event) {
          event.preventDefault(); // Prevent the default form submission

          // Get form values
          var email = document.getElementById('email').value;
          var subject = document.getElementById('subject').value;
          var message = document.getElementById('message').value;

          // Construct the mailto link
          var mailtoLink = 'mailto:{{ .Site.Params.email }}?subject=' + encodeURIComponent(subject) +
                           '&body=' + encodeURIComponent(message + '\n\n' + email + '\n');

          // Redirect to the mailto link
          window.location.href = mailtoLink;
        });
      </script>

    </div>
  </div>
{{ end }}
