{{ define "main" }}

  {{ $background := resources.Get "images/wedding/background.jpg" }}
  {{ $background := $background.Resize "x4000" }}

  {{ $mariageDotNet := resources.Get "images/wedding/mariage.net.svg" }}


  <div id="wedding" class="wedding" style="background-image: url({{ $background.Permalink }});">
    <div class="wedding-top">
      <div class="wedding-top-content-col">
        {{ .Content }}
      </div>
      <div class="wedding-top-images-col">
        {{ $image := resources.Get "images/wedding/dj-resch-photo1.jpg" }}
        {{ with $image }}
          {{ $resized := .Resize "x400" }}
          <div class="home-image-container">
            <img class="styled-image wedding-photo1" src="{{ $resized.Permalink }}" alt="photo"/>
          </div>
        {{ end }}

        {{ $image := resources.Get "images/wedding/dj-resch-photo2.jpg" }}
        {{ with $image }}
          {{ $resized := .Resize "x400" }}
          <div class="home-image-container">
            <img class="styled-image wedding-photo2" src="{{ $resized.Permalink }}" alt="photo"/>
          </div>
        {{ end }}
      </div>
    </div>


    <div class="tariff-cards">
      {{ $all := site.RegularPages }}
      {{ $tariffs := (slice) }}
      {{ range $all }}
        {{ if strings.HasPrefix .Path "/weddings/services/tariffs" }}
          {{ $tariffs = $tariffs | append . }}
        {{ end }}
      {{ end }}
      {{ $tariffs := sort $tariffs "Params.price" "asc"}}
      {{ range $tariffs }}
        <div class="tariff-card">
          <div class="tariff-card-icon-and-title">
            {{ $basename := path.BaseName .Path }}
          {{ $image := resources.Get (printf "images/wedding/%s.jpg" $basename) }}
          {{ with $image }}
            {{ $resized := .Resize "100x100" }}
            <div class="tariff-icon-container">

              <img class="tariff-icon" src="{{ $resized.Permalink }}" alt="0">
            </div>
          {{ end }}
          <h3>{{ .Title }}</h3>
          </div>
          <h4 class="tariff-subtitle">{{ .Params.subtitle }}</h4>
          <div class="tariff-price">{{ .Params.price }} €</div>
          <div class="tariff-content">
            {{.Content}}
          </div>
          <a href="/contact?subject={{.Params.emailSubject}}">
          <button class="tariff-button">Réserver</button>
          </a>
        </div>
      {{ end }}
    </div>

    <h2>Temoignages</h2>
    <div class="footer-reviews">
      {{ $mariageDotNet := resources.Get "images/wedding/mariage.net.svg" }}

      {{ $all := site.RegularPages }}
      {{ $rates := (slice) }}
      {{ range $all }}
        {{ if strings.HasPrefix .Path "/footer/rates" }}
          {{ $rates = $rates | append . }}
        {{ end }}
      {{ end }}

      {{ $average := 0.0 }}
      {{ range $rates }}
        {{ $average = add $average .Params.rate }}
      {{ end }}
      {{ $average = div $average (len $rates) }}
      {{ $rateLink := .Site.Params.MariageNetRate.Url}}
      <div class="footer-reviews-header">

        <h3>DJ RESCH</h3>
        <div class="footer-reviews-rate">
          <div class="review-stars">
            {{ range seq 1 5 }}
              <span class="star">★</span>
            {{ end }}
          </div>
          <p>{{ printf "%.1f" $average }} sur 5</p>
        </div>
        <p>{{len $rates}} avis</p>
      </div>
      {{ range first 3 (sort $rates "Date" "desc") }}
        <div class="footer-review">
          <div class="review-author">
            {{ .Params.author }}
          </div>
          <div class="footer-reviews-rate">
            <div class="review-stars">
              {{ range seq 1 .Params.rate }}
                <span class="star">★</span>
              {{ end }}
            </div>
            <p>{{printf "%.1f" (float .Params.rate)}}</p>
          </div>
          <div class="review-content">
            {{ .Content | truncate 240 }}
          </div>
          <a href={{$rateLink}} class="footer-see-all-reviews">En savoir plus</a>
          <div class="review-date">
            Envoyé le {{ .Date.Format "02/01/2006" }}
          </div>
      </div>
      {{ end }}
      <a href={{$rateLink}} class="footer-see-all-reviews">Lisez tous nos avis</a>
      <div>
        <a class="mariage-net-a" href={{$rateLink}}>
          <img class="mariage-net-image" src="{{ $mariageDotNet.Permalink }}" alt="Mariage.net"/>
        </a>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    window.addEventListener('scroll', function() {
        var scrollPosition = window.scrollY;

        var newBackgroundPositionY = scrollPosition * 0.4;

        document.querySelectorAll('.wedding').forEach(function(element) {
            element.style.backgroundPositionY = `${newBackgroundPositionY}px`;
        });
    });
  </script>
{{ end }}
