{{ define "main" }}
  {{ $filter := images.GaussianBlur 5 }}

  {{ $background := resources.Get "images/wedding/background.jpg" }}
  {{ $background := $background.Resize "x4000" }}
  {{ $background := $background | images.Filter $filter }}

  {{ $image_files := readDir "assets/images/wedding/photos" }}
  {{ $images := slice }}
  {{ range $image_files }}
    {{ $images = $images | append (resources.Get (printf "images/wedding/photos/%s" .Name)) }}
  {{ end }}

  {{ $images_col1 := slice }}
  {{ $images_col2 := slice }}
  {{ $height1 := 0 }}
  {{ $height2 := 0 }}

  {{ range $images }}
    {{ if lt $height2 $height1 }}
      {{ $height2 = add $height2 (div .Height (.Width | float) ) }}
      {{ $images_col2 = $images_col2 | append . }}
    {{ else }}
      {{ $height1 = add $height1 (div .Height (.Width | float) ) }}
      {{ $images_col1 = $images_col1 | append . }}
    {{ end }}
  {{ end }}
  <section id="wedding" class="wedding" style="background-image: url({{ $background.Permalink }});">
    <div class="gallery-one-column">
     {{ range $images }}
        <a class="gallery-item" href="{{ .Permalink }}">
          <img src="{{ .Permalink }}" alt="{{ .Name | plainify }}" class="styled-image">
        </a>
      {{ end }}
    </div>

    <div class="gallery">
      <div class="column" id="column1">
      {{ range $images_col1 }}
        <a class="gallery-item" href="{{ .Permalink }}">
          <img src="{{ .Permalink }}" alt="{{ .Name | plainify }}" class="styled-image">
        </a>
      {{ end }}
      </div>
      <div class="column" id="column2">
      {{ range $images_col2 }}
        <a class="gallery-item" href="{{ .Permalink }}">
          <img src="{{ .Permalink }}" alt="{{ .Name | plainify }}" class="styled-image">
        </a>
      {{ end }}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    window.addEventListener('scroll', function() {
      var scrollPosition = window.scrollY;

      var newBackgroundPositionY = - scrollPosition * 0.5;

      document.querySelectorAll('.wedding').forEach(function(element) {
          element.style.backgroundPositionY = `${newBackgroundPositionY}px`;
      });
    });
  </script>
{{ end }}