{{ define "main" }}

  {{ $background := resources.Get "images/wedding/background.jpg" }}
  {{ $background := $background.Resize "x4000" }}

  {{ $mariageDotNet := resources.Get "images/wedding/mariage.net.svg" }}

  {{ $flower1 := resources.Get "images/wedding/flower1.png" }}
  {{ $flower1 := $flower1.Resize "x300" }}

  {{ $flower2 := resources.Get "images/wedding/flower2.png" }}
  {{ $flower2 := $flower2.Resize "x300" }}

  {{ $titleLeft := resources.Get "images/wedding/title-left.png" }}
  {{ $titleLeft := $titleLeft.Resize "x50" }}

  {{ $titleRight := resources.Get "images/wedding/title-right.png" }}
  {{ $titleRight := $titleRight.Resize "x50" }}

  {{ $box1 := resources.Get "images/wedding/box1.png" }}
  {{ $box1 := $box1.Resize "x100" }}

  {{ $box2 := resources.Get "images/wedding/box2.png" }}
  {{ $box2 := $box2.Resize "x100" }}

  {{ $djWedding := resources.Get "images/wedding/dj-wedding.png" }}
  {{ $djWedding := $djWedding.Resize "x250" }}


  <div id="wedding" class="wedding" style="background-image: url({{ $background.Permalink }});">
    <div class="wedding-card">
      <div class="wedding-card-border">
        <div class="wedding-card-inner">
          {{ .Content }}
          <a class="mariage-net-a" href={{.Site.Params.weddingsService.link}}>
            <p>Retrouver DJ Resch sur</p>
            <img class="mariage-net-image" src="{{ $mariageDotNet.Permalink }}" alt="Retrouver sur mariage.net"/>
          </a>
          <a class="wedding-contact-button" href="/contact">Contacter</a>
        </div>
      </div>

      <div class="flower1-image-container">
        <img class="flower1-image" src="{{ $flower1.Permalink }}" alt="flower1"/>
      </div>
      <div class="flower2-image-container">
        <img class="flower2-image" src="{{ $flower2.Permalink }}" alt="flower2"/>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    wedding = document.getElementById("wedding");

    var djWedding = document.getElementById('dj-wedding-image');
    console.log(djWedding);
    var image = document.createElement('img');
    image.src = '{{ $djWedding.Permalink }}';
    image.classList.add('dj-wedding-image');
    djWedding.appendChild(image);


    wedding.querySelectorAll('h2').forEach(function(h2) {
        var wrapper = document.createElement('div');
        wrapper.classList.add('wedding-title');

        var leftImage = document.createElement('img');
        leftImage.src = '{{ $titleLeft.Permalink }}';
        leftImage.classList.add('wedding-left-image');

        var rightImage = document.createElement('img');
        rightImage.src = '{{ $titleRight.Permalink }}';
        rightImage.classList.add('wedding-right-image');

        wrapper.appendChild(leftImage);
        wrapper.appendChild(h2.cloneNode(true));
        wrapper.appendChild(rightImage);

        h2.replaceWith(wrapper);
    });

    wedding.querySelectorAll('li').forEach(function(li) {
        var wrapper = document.createElement('div');
        wrapper.classList.add('wedding-li');

        var leftImage = document.createElement('img');
        leftImage.src = '{{ $box1.Permalink }}';
        leftImage.classList.add('box1-image');

        var rightImage = document.createElement('img');
        rightImage.src = '{{ $box2.Permalink }}';
        rightImage.classList.add('box2-image');

        wrapper.appendChild(leftImage);
        wrapper.appendChild(li.cloneNode(true));
        wrapper.appendChild(rightImage);

        li.replaceWith(wrapper);
    });

    window.addEventListener('scroll', function() {
        var scrollPosition = window.scrollY;

        var newBackgroundPositionY = - scrollPosition * 0.5;

        document.querySelectorAll('.wedding').forEach(function(element) {
            element.style.backgroundPositionY = `${newBackgroundPositionY}px`;
        });
    });
  </script>
{{ end }}
