/* === Texts === */
  body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .bg-near-white {
      background-color: #161616;
  }

  .avenir {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 200;
  }

/* === Header === */
  .resch-image-container {
    padding-left: 80px;
    padding-right: 80px;
  }

  .header {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: scale(1.05)
    }
    100% {
      opacity: 1;
      transform: scale(1)
    }
  }

  .resch-image-container.is-home {
    padding-bottom: 120px;
    animation: fadeInDown 1s ease forwards;
  }

  .dj-title {
    padding-top: 40px;
    color: #ddd;
    font-weight: 200;
    font-size: 2rem;
  }

  .header-title {
    color: #ddd;
    font-weight: 200;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  @media (max-width: 768px) {
    .header-title {
      margin-top: 20px;
    }
  }

/* === Navigation Menu === */

  .menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #161616;
    position: absolute;
    min-width: 150px;

    display: none;
    border-radius: 15px;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }


  .menu-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
    color: #ddd;
    transition: transform 0.1s ease;
  }

  .menu-link:hover {
    color: goldenrod;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .submenu-list .menu-item {
    padding: 5px;
  }

/* === Home === */
  .warning {
    background-color: orange;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 50px;
  }

  .home-text-container {
    max-width: 600px;
  }

  .home-text-container h2 {
    color: #ddd;
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .home-text-container p {
    color: #ddd;
    font-size: 1.25rem;
    margin-bottom: 15px;
    text-align: justify;
  }

  .home-content-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    padding: 80px;
  }

  .home-image-container {
    flex: 0 0 auto;
  }

  .dj-background-image-container {
    height: 650px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .dj-background-image {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 255);
    max-width: unset;
  }

  @media (max-width: 768px) {
    .dj-background-image-container {
      height: 450px;
    }

    .home-image {
      width: 300px;
    }

    .home-content-row {
      flex-direction: column;
      align-items: center;

      gap: 20px;
      padding: 10px;
      padding-top: 40px;
    }
  }

/* === Image === */
  .styled-image {
    border-radius: 15px;
    transition: box-shadow 3s ease, transform 0.3s ease;
  }

  .styled-image:hover {
    box-shadow: 0 0 3px #DAA52055, 0 0 100px #DAA52022;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: scale(1.05);
  }

/* === Photos Gallery === */

  .gallery-one-column {
    display: none;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }

  .gallery {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 240px;
  }

  .column {
    flex: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: 768px) {
    .gallery-one-column {
      display: grid;
    }
    .gallery {
      display: none;
    }
  }

/* === Footer === */
  .site-footer {
    background-color: #1C1C1C;
    color: #ddd;
    width: 100%;
    padding: 60px 0;
    text-align: center;
  }

  .footer-links {
    margin-bottom: 40px;
  }

  .footer-links a {
    color: #ddd;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-links a:hover {
    color: goldenrod;
  }

  .footer-social {
    display: flex;
    justify-content: center;
  }

  .footer-social .social-icon {
    color: #ddd;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
  }

  .footer-social .social-icon:hover {
    color: goldenrod;
  }

/* === Cards === */

  .card {
    background-color: #2c2c2c;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 1s ease, background-color 0.3s ease;
  }

  .card:hover {
    background-color: #2e2e2e;
    transform: translateY(-10px);
    box-shadow: 0 0 3px #DAA5207f;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }

/* === Events List === */
  .events-body {
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
  }

  .events-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }

  .event-image {
    width: 100%;
    height: auto;
  }

  .event-content {
    padding: 15px;
  }

  .event-title {
    color: #ddd;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }

  .event-content p {
    color: #ccc;
    margin-bottom: 10px;
  }

  .event-date {
    color: #888;
    font-size: 0.9rem;
  }

  .read-more-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: darkgoldenrod;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }

  .read-more-button:hover {
    background: linear-gradient(45deg, darkgoldenrod, goldenrod);
    transition: background 3s ease;
  }

  @media (max-width: 768px) {
    .events-container {
      grid-template-columns: 1fr;
      gap: 15px;
      padding: 10px;
    }

    .event-card {
      margin-bottom: 20px;
    }
  }

/* === Rates List ===*/

  .rates-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 240px;
  }

  .rate-content {
    padding: 15px;
  }

  .rate-text {
    color: #ddd;
    font-weight: 400;
    font-size: 1.25rem;
    text-align: justify;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .rate-title {
    color: #888;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }

  .rate-date {
    color: #888;
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    .rates-container {
      grid-template-columns: 1fr;
      gap: 15px;
      padding: 10px;
    }

    .rate-card {
      margin-bottom: 20px;
    }
  }

/* === Musics List === */

  .musics-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 240px;
  }

  .music-content {
    padding: 15px;
    padding-top: 5px;
  }

  .music-content p {
    color: #ccc;
    margin-bottom: 10px;
  }

  .music-date {
    color: #888;
    font-size: 0.9rem;
  }

/* === Weddings Services === */

  @font-face {
    font-family: 'WeddingFont';
    src: url('/fonts/wedding-font.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'WeddingTextFont';
    src: url('/fonts/Please-write-me-a-song.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  .wedding {
    background-color: #f0ddd5;
    padding-bottom: 240px;
    display: flex;
    justify-content: center;
    font-family: "WeddingTextFont";
    letter-spacing: 0.1rem;

    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

   @media (max-width: 1500px) {
    .wedding {
      background-size: 1500px auto;
    }
  }

  @media (max-width: 1300px) {
    .wedding {
      background-size: 2000px auto;
    }
  }

  .wedding-card {
    position: relative;
    background-color: #F3EFF1;

    padding: 50px;
    margin: 100px;
    width: 1000px;
    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s ease;
  }

  .wedding-card-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    border: 3px solid #ccA196;
    border-radius: 510px 510px 15px 15px;
    padding: 10px;
  }

  .wedding-card-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;

    padding: 125px;
    border: 1px solid #ccA196;
    border-radius: 500px 500px 5px 5px;
  }

  @media (max-width: 768px) {
    .wedding-card {
      width: 90%;
    }

    .wedding-card-inner {
      padding-left: 50px;
      padding-right: 50px;
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  .wedding-card h1 {
    width: 300px;
    color: #52797c;
    font-family: 'WeddingFont';
    font-size: 4rem;
    text-align: center;
  }

  .wedding-card h2 {
    color: #52797c;
    font-size: 1.7rem;
  }

  .wedding-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .wedding-card h3 {
    color: #52797c;
    font-size: 1.4rem;
  }

  .wedding-card p {
    color: #52797c;
    font-size: 1.5rem;
    padding-bottom: 50px;
    letter-spacing: 0.1rem;
  }

 .wedding-card li {
    color: #52797c;
    font-size: 1.7rem;
    padding: 15px;
    list-style-type: none;
    text-align: center;
    min-height: 80px;
  }

  .wedding-card:hover {
    box-shadow: 0 0 3px #ccA196;
    transition: box-shadow 0.3s ease;
  }

  .flower2-image-container {
    position: absolute;
    top: 0;
    right: 0;
  }

  .flower1-image-container {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .wedding-li {
    position: relative;
    padding: 20px 30px 20px 30px;
    margin-bottom: 100px;
    transform: scale(1.0);
    transition: transform 0.3s ease;
  }

  .wedding-li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  .box1-image {
    position: absolute;
    top: 5px;
    right: 3px;
  }

  .box2-image {
    position: absolute;
    bottom: 5px;
    left: 3px;
  }

  .mariage-net-a {
    text-decoration: none;
  }

  .mariage-net-a p {
    padding: 0px;
    text-align: center;
  }

  .wedding-contact-button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 1.7rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, darkgoldenrod, goldenrod);
    color: #fff;
    cursor: pointer;
  }

  .wedding-contact-button:hover {
    background: linear-gradient(45deg, goldenrod, darkgoldenrod);
  }

/* === Pagination === */
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 240px;
  }

  .pagination-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #2c2c2c;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .pagination-button:hover {
    background-color: darkgoldenrod;
  }

  .pagination-button.current {
    background-color: goldenrod;
    cursor: default;
  }

/* === Contact === */

  .contact-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 240px;
  }

  .contact-container {
    width: 100%;
    max-width: 650px;
    padding: 20px;
  }

  .contact-container h1 {
    color: #fff;
    margin-bottom: 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-group {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  .form-group label {
    color: #ddd;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #ddd;
    height: 50px;
  }
  .form-group textarea {
    height: 200px;
  }

  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #DAA520ff;
    transition: box-shadow 0.3s ease;
  }

  textarea {
    resize: vertical;
  }

  .submit-button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, darkgoldenrod, goldenrod);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .submit-button:hover {
    background: linear-gradient(45deg, goldenrod, darkgoldenrod);
  }

/* === 404 === */

  .page404 {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
  }

  .page404-image-container {
    width: 600px;
    animation: fadeInDown 1s ease forwards;
  }

  @media (max-width: 768px) {
    .page404-image-container {
      width: 400px;
    }
  }

  .page404-credit-link {
    color: #ddd;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
  }