{{ define "main" }}
  {{ $image := resources.Get "images/dj-background.jpg" }}
  {{ with $image }}
    {{ $resized := .Resize "x650" }}
    <div class="dj-background-image-container">
      <img class="dj-background-image" src="{{ $resized.Permalink }}" alt="dj-background-image">
    </div>
  {{ end }}

  <div class="home-content-row">
    {{ $image := resources.Get "images/dj-photo.jpg" }}
    {{ with $image }}
      {{ $resized := .Resize "500x500" }}
      <div class="home-image-container">
        <img class="home-image styled-image" src="{{ $resized.Permalink }}" alt="photo">
      </div>
    {{ end }}

    <div class="home-text-container">
      <h2>{{.Site.Params.presentation.title}}</h2>
      {{ range .Site.Params.presentation.text }}
        <p>{{ . }}</p>
      {{ end }}
    </div>
  </div>

  <article class="home-text-container cf ph3 ph3-l pv1 pv4-l f4 tc-l center measure-wide lh-copy white">
    {{ .Content }}
  </article>
{{end}}

